body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
    background-color:rgb(72, 71, 71);
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 2;
    
}

.nav a{
    color: white;
    text-decoration: none;
    padding:30px ;
    font-size: 20px;
    
}

.pimg1{
    background-image: url(img/img1.jpg);
    min-height: 100%;
}

.pimg2{
    background-image: url(img/img2.jpg);
    min-height: 400px;
}

.pimg3{
    background-image: url(img/img3.jpg);
    min-height: 400px;
}

.pimg1,.pimg2,.pimg3{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    

}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 38px;
    text-transform: capitalize;
    
    
    

}

.textbg{
    color: white;
    background-color:rgb(72, 71, 71);
    padding: 7px;
    border-radius: 15px;
}

.section{
    position: relative;
    text-align: center;
    padding: 30px 50px;
    font-size: 20px;
    
}

.section-dark{
    color: white;
    background-color: rgb(72, 71, 71);
}

.section-light{
    color: rgb(72, 71, 71);
    background-color: rgb(135, 178, 240);
}