*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.container{
    max-width: 900px;
   
    margin:0 auto;
    

}
.apply{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 4px 3px 5px blue;
    border-radius: 10px;
}

.small{
    font-size: 20px;
}

.form_container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}