html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.nav{
    
        display: flex;
        background-color: #38b172;
        min-width: 100%;
        position: fixed;
        top: 0%;
        z-index: 3;
        
      


 
        
    }

.nav a{
    padding: 5px;
    color: white;
    font-size: 25pxpx;
    text-decoration: none;
    margin: 10px;
    font-weight: 300;

}
    



.pimg1{
      background-image: url(img/img1.jpg);
      min-height: 100%;
      
}
.pimg2{
      background-image: url(img/img2.jpg);
      min-height: 400px;
      
}
.pimg3{
      background-image: url(img/img3.jpg);
      min-height: 400px;
      
}


.pimg1,.pimg2,.pimg3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    
}

.textbg{
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}

.section{
    padding: 50px 80px;
    text-align: center;
}

.section-light{
    background-color: white;
    color: gray;
}

.section-dark{
    background-color: rgb(71, 71, 71);
    color: white;
}