*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
}

html,body{
    width: 100%;
    height: 100%;
   font-weight: 300;

  
   
}

.top_img{
    width: 100%;
    background-image: url(images/developer_img.jpeg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}    

.text{
    color: white;
    width: 100%;
    min-width: 80vw;
    max-width: 100vh;
    margin-left: 30vw;
    padding-top:5px ;
    font-size: 28px;
    
}

.big_font{
    font-size: 78px;
    font-weight: 500;
}


.black_box{
    background-color: black;
    color: white;
    padding: 50px;
    font-size: 30px;
    
}

.black_box h1{
    margin-left: 20vw;
    background-image: url();
}

.skills{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    margin: 20px 0;
    
}


.card{
    width: 320px;
    height: 400px;
    
    box-shadow: 2px 3px 4px rgb(51, 48, 48);
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: rgb(15, 15, 15);
    transition: 0.2s ease-in-out;
}
.img_container{
    padding:10px ;
    
}

.img_container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius:7px;
}
.card_container{
    padding: 13px;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bottom{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(1fr));
   
}

.b1{
    display: flex;
    justify-content: center;
    min-height: 200px;
   
}

.contact{
    background-color: green;
}

.about{
    background-color: red;
}


.last{
    background-color: black;
    color: white;
   
    
}

.last h3{
    padding: 15px 550px;
}