body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: auto;
    background-color: rgb(199, 225, 247);
    border: 10px solid blue;
}

.contant{
    width: 900px;
    height: auto;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.top_section h1{
    font-size: 82px;
    font-weight: bold;
    margin: 5px;
}
.top_section h4{
    font-size: 22px;
    text-align: end;
}

img_container, img{
    
       border-radius: 150px;
}

.about_section{
    margin: 50px;
}

.about_section h2{
    font-size: 50px;
}

.about_section p{
    
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

footer h3{
        font-size: 33px;
}

.list{
    line-height: 30px;
    font-size: 20px;
    margin-left: 50px;
}

.link{
    text-align: end;
}